    
}

.box{

    width: 300px;
    margin: 20px auto;
    outline: none;
    font-size: 14px;
    padding: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2980b9;
    color: midnightblue;
    text-align: center;
    border-color: #27ae60;
    border-radius: 23px;
    

}
.box-input[type="text"],.box input[type="password"] {
    font-size: 24px;
    font-family:'Indie Flower',cursive;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    border: 1.5px solid #2980b9;
    padding: 14px 10px;

    outline: none;
    transition: 0.30s;
    font-size: 14px;
}
.box-input[type="text"],.box input[type="password"]:focus{
    width: 200px;
    border-color: #27ae60;

}

.box input[type"submit"]: hover{

    background-color: white;
    

}

